
/* Custom Site Layout
========================================= */


/* Custom Page Styles */

/* Header / Hero Section
================================ */

.header-wrap {
  background-color: $primary-accent-color;
  padding-bottom: 100px;
}

.header-call-container   { padding: 22px 0 0; }
.header-call-container a { color: $white; font-size: 20px; font-weight: 700; }

.top-social-icons        { padding: $base-padding 0; }

.top-social-icons ul, 
.bottom-social-icons ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.top-social-icons ul li, 
.bottom-social-icons ul li { 
  display: inline-block; 
}

.top-social-icons ul li a, 
.bottom-social-icons ul li a {
  background-color: rgba(255,255,255,0.8);
  width:50px;
  height: 50px;
  margin-left: 10px;
  color: $primary-accent-color;
  font-size: $base-font-size + 2;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  display: block;
  transition: all 0.3s ease;
}

.bottom-social-icons ul li a { background-color: $primary-accent-color; color: $white; }

.top-social-icons ul li:first-child a, 
.bottom-social-icons ul li:first-child a {
  margin-left: 0px;
}

.top-social-icons ul li a:hover { background-color: $white; }
.bottom-social-icons ul li a:hover { background-color: lighten($primary-accent-color, 5%); }

.hero-content-container { padding-top: 160px; }
.hero-body-content { 
  color: $white; 
  font-size: $base-font-size * 2.5;
  font-weight: 300;
}

.logo { margin-bottom: $base-margin * 4; }

.product-img-wrap {
  position: relative;
  bottom: -260px;
  z-index: 10;
}

/* Stack
================================ */

h1.bordered,
h2.bordered,
h3.bordered {
  margin-bottom: $base-margin * 3;
  padding-bottom: $base-padding;
  display: inline-block;
  position: relative;
}

h1.bordered::after,
h2.bordered::after,
h3.bordered::after {
  background-color: $primary-accent-color;
  width: 40%;
  height: 4px;
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
}

.fw-section    { padding: 100px 0; }

.blue-bg       { background-color: $secondary-accent-color; }
.blue-bg h1,
.blue-bg h2,
.blue-bg h3,
.blue-bg h4,
.blue-bg .content-section   { color: $heading-font-color; }

.blue-bg h1.bordered::after,
.blue-bg h2.bordered::after,
.blue-bg h3.bordered::after { background-color: $primary-accent-color; }

/* Practice Section
================================ */

.img-wrap.about-section { padding-top: 54px; }

ul.product-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

ul.product-list li {
  padding: $base-padding 0;
}

ul.product-list li i {
  margin-right: $base-margin / 2;
  color: #f9b24f;
}

/* Service Section
================================ */

.icon-box {
  padding-left: 80px;
  margin-bottom: 30px;
  position: relative;
}

.icon-box i {
  background-color: $primary-accent-color;
  width: 60px;
  height: 60px;
  font-size: 24px;
  color: $white;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.blue-bg i { background-color: $primary-accent-color; }

/* Form Section
================================ */

.form-btn-wrapper { position: relative; }

.notification-ok, .notification-error {
  width: 100%;
  height: auto;
  padding: 4px 10px;
  margin: 0 0 20px;
  font-size: 14px;
  text-align: left;
}

.notification-ok    { background: #DFF0D8; color: #468847; border: 1px solid #468847; }
.notification-error { background: #F8F0F1; color: #853240; border: 1px solid #A25965; }

.loading {
  background: url("../../images/preloader.gif") no-repeat;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  position: absolute;
  top: 30%;
  left: 108px;
  display: none;
}

/* Map Section
================================ */

#map-wrapper {
  background: #f8f8f8 url("../../images/preloader.gif") center center no-repeat;
  width: 100%;
  height: 100%;
  min-height: 600px;
  display: block;
}

.map-info-box { max-width: 200px; }
#map-wrapper img { max-width: none !important; }


/* Footer Section
================================ */

.footer-wrap {
  background-color: #333333;
  width: 100%;
  height: auto;
  padding: ($base-padding * 4) 0;
}

.footer-meta-wrap {
  background-color: $tertiary-accent-color;
  width: 100%;
  height: auto;
  padding: $base-padding 0;
}

.footer-meta, .footer-meta a {
  margin-bottom: 0px;
  color: $white;
  font-size: 12px;
}

/* Media Queries
================================ */

@media only screen and (min-width: 1024px) and (max-width: 1199px) {

  .product-img-wrap { bottom: -246px; }

}

@media only screen and (max-width: 1023px) {

  .header-wrap { padding-bottom: 0px; }

  .header-call-container { text-align: center; }

  .top-social-icons {
    width: auto;
    margin: 0 auto;
    display: table;
    float: none !important;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .product-img-wrap {
    width: auto;
    margin: 0 auto;
    display: table;
    bottom: -158px;
  }

  .img-wrap.about-section {
    padding-top: $base-padding * 8;
    padding-bottom: $base-padding * 4;
  }

}

@media only screen and (max-width: 767px) {

  .hidden-mobile { @include hidden(); }
  .header-wrap { padding-bottom: $base-padding * 10; }
  .img-wrap.about-section { padding-top: 0px; padding-bottom: $base-padding * 4; }

}

@media only screen and (max-width: 479px) {
  .top-social-icons ul li a, 
  .bottom-social-icons ul li a {
    margin: 0 10px 10px 10px;
  }

  .top-social-icons ul li:first-child a, 
  .bottom-social-icons ul li:first-child a {
    margin-left: $base-margin;
  }

  .hero-content-container { padding-top: $base-padding * 4; }
}
